.copyright__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: none;
}

.copyright__link:hover .copyright__image {
  fill: #67b737;
}

.copyright__link:active {
  opacity: 0.3;
}

.copyright__text {
  font-size: 16px;
  line-height: 16px;
  pointer-events: none;
}

.copyright__image {
  margin-right: -8px;
  width: 43px;
  height: 46px;
  fill: #666666;
  pointer-events: none;
}

@media (min-width: @tablet-width) {
  .copyright__text {
    margin-right: 15px;
  }
}
