.extra-catalog {
  margin: 0 20px 39px 18px;
}
.extra-catalog__heading {
  font-family: "Oswald Medium", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
}
.extra-catalog__title {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
}
.extra-catalog__table {
  line-height: 14px;
}
