.main-nav__toggle {
  display: none;
  position: absolute;
  top: 23px;
  left: calc(50% + 116px);
  width: 24px;
  height: 18px;
  border: none;
  padding: 0;
  background-repeat: no-repeat;
  background-color: transparent;
}
@media (min-width: @tablet-width) {
  .main-nav {
    margin-left: auto;
  }
}
