.programs__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.programs__item {
  padding: 20px;
  padding-bottom: 17px;
  background-color: @basicGrey;
  position: relative;
}

.programs__item::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 22px;
  top: 24px;
  border-radius: 50%;
  background-color: @basicGreen;
}

.programs__item::after {
  content: "";
  display: block;
  position: absolute;
  background-repeat: no-repeat;
}

.programs__item:not(:last-child) {
  margin-bottom: 20px;
}

.programs__item--slim::after {
  width: 35px;
  height: 49px;
  left: 30px;
  top: 23px;
  background-image: url("../img/icon-cat-slim.svg");
}

.programs__item--pro::after {
  width: 67px;
  height: 28px;
  left: 13px;
  top: 35px;
  background-image: url("../img/icon-cat-pro.svg");
}

.programs__title {
  font-size: 24px;
  line-height: 37px;
  color: @almostBlack;
  font-weight: 400;
  font-family: @Oswald;
  text-transform: uppercase;
  margin-left: 71px;
  margin-top: 10px;
  margin-bottom: 29px;
}

.programs__description {
  line-height: 18px;
  padding-bottom: 22px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
}

.programs__link {
  font-size: 16px;
  line-height: 16px;
  color: @almostBlack;
  font-weight: 400;
  font-family: @Oswald;
  text-transform: uppercase;
}

.programs__link::after {
  content: "";
  width: 24px;
  height: 13px;
  margin-left: 13px;
  display: inline-block;
  background-image: url("../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
}

.programs__link:hover::after {
  width: 33px;
  background-image: url("../img/icon-right-arrow-verylong.svg");
}

.programs__link:active {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .programs__item {
    padding: 50px;
    min-height: 272px;
  }

  .programs__item::before {
    width: 200px;
    height: 200px;
    top: 92px;
    right: 62px;
    left: auto;
  }

  .programs__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .programs__wrapper {
    width: 372px;
    padding-left: 2px;
  }

  .programs__description {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 0;
    margin-bottom: 56px;
    border: none;
  }

  .programs__item--pro .programs__wrapper {
    width: 343px;
  }

  .programs__item--pro::before {
    top: 91px;
    right: 60px;
  }

  .programs__item--pro::after {
    width: 268px;
    height: 112px;
    top: 135px;
    right: 28px;
    left: auto;
  }

  .programs__item--slim::after {
    width: 140px;
    height: 194px;
    top: 80px;
    right: 92px;
    left: auto;
  }

  .programs__title {
    font-size: 36px;
    line-height: 37px;
    margin-left: 1px;
    margin-top: 26px;
    margin-bottom: 25px;
  }

  .programs__link {
    font-size: 20px;
    line-height: 20px;
  }

  .programs__link::after {
    margin-left: 25px;
  }
}

@media (min-width: @desktop-width) {
  .programs__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .programs__item {
    width: 470px;
    margin-bottom: 30px;
  }

  .programs__item::before {
    width: 100px;
    height: 100px;
    top: 47px;
    left: 52px;
    right: auto;
  }

  .programs__item--slim::after {
    width: 70px;
    height: 97px;
    top: 41px;
    left: 66px;
    right: auto;
  }

  .programs__item--pro .programs__wrapper {
    width: auto;
  }

  .programs__item--pro::after {
    width: 134px;
    height: 56px;
    top: 69px;
    left: 34px;
    right: auto;
  }

  .programs__wrapper {
    width: auto;
  }

  .programs__title {
    margin-left: 162px;
    margin-bottom: 74px;
  }

  .programs__description {
    margin-bottom: 31px;
  }
}
